.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
/* TODO: alert new badge */
.alert-new {
}
/* TODO: update badge for icons */
.icon-updates {
}
